head
    title GAZA
    style(type='text/css'): include ../public/css/main.css
    style(type='text/css'): include ../public/css/item.css
    style(type='text/css'): include ../public/css/media.css

    style(type='text/css' value='bootstrap'): include ../public/bower_components/bootstrap/dist/css/bootstrap.min.css
    style(type='text/css' value='bootflat'): include ../public/bower_components/bootflat/css/bootflat.css
    style(type='text/css' value='remodal'): include ../public/bower_components/remodal/dist/remodal.css
    style(type='text/css' value='font-awesome'): include ../public/bower_components/font-awesome/css/font-awesome.min.css