head
    title GAZA
    link(rel='stylesheet' href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/public/bower_components/bootflat/css/bootflat.css')
    link(rel='stylesheet' href='/public/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/public/css/main.css')
    link(rel='stylesheet' href='/public/css/item.css')
    link(rel='stylesheet' href='/public/css/media.css')