doctype html
html
include head
body

script(src='/public/bower_components/jquery/dist/jquery.min.js')
script(src='/public/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/public/bower_components/bootflat/js/jquery.icheck.js')
script(src='/public/bower_components/bootflat/js/html5shiv.js')
script(src='/public/bower_components/bootflat/js/respond.min.js')
script(src='/public/js/event.js')

div(id='detail-item' class="modal fade" role='dialog')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                h4(class='modal-title') Modal-Dialog

            div(class='modal-body')
                img(class='modal-thumb' src='http://www.changupgiljabi.com/data/file/land/thumb/28370')
                p Flat, responsive, lightweight, fast, easy customizable modal window plugin
                p with declarative state notation and hash tracking.


header(id='header' class='resizable')
    div(id='main-view')
        h1(class='main-title')
            b gaza
            span &nbsp;for web
        h2(class='sub-title') Come With Us.
        i(class='scroll fa fa-chevron-down')

div(id='content' class='resizable')
    - var isEmpty = places.length <= 0
    if isEmpty
        div is empty!!!
    else
        div(class='place-list')
            //each place in places
            //    include item
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://www.changupgiljabi.com/data/file/land/thumb/28370')
                div(class='item-content')
                    span(class='item-title') 오븐에 빠진 닭
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile26.uf.tistory.com/image/2513354F5406B0DA03A302')
                div(class='item-content')
                    span(class='item-title') 케미테이블
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile27.uf.tistory.com/image/271AD046535C7B6011E1FE')
                div(class='item-content')
                    span(class='item-title') LES PREMICES
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://pds26.egloos.com/pds/201212/19/96/e0063996_50d1cfcce4064.jpg')
                div(class='item-content')
                    span(class='item-title') LA DUREE
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile1.uf.tistory.com/image/1273763850989DB00AFF63')
                div(class='item-content')
                    span(class='item-title') GODIVA
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile23.uf.tistory.com/image/2774594C527061212BA21B')
                div(class='item-content')
                    span(class='item-title') 아그레아블
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://image.wemakeprice.com/dealimg/201407/293019/8a9ab9f183d7f48a9403f1c815e3cbb15f0476b4.jpg')
                div(class='item-content')
                    span(class='item-title') 레몬 테이블
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile8.uf.tistory.com/image/2616CB3854030122051FAF')
                div(class='item-content')
                    span(class='item-title') 홍벽돌
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://img.ezmember.co.kr/cache/board/2014/08/29/9e632c712ec4c5f0f9c27133bd625181.jpg')
                div(class='item-content')
                    span(class='item-title') 깔리
            figure(class='place_item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://pds22.egloos.com/pds/201101/25/21/e0077321_4d3ec16811c0a.jpg')
                div(class='item-content')
                    span(class='item-title') 아비꼬
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile25.uf.tistory.com/image/254A284C522DF273170012')
                div(class='item-content')
                    span(class='item-title') 파샤
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile9.uf.tistory.com/image/116FAC0C4C072DAD461BBE')
                div(class='item-content')
                    span(class='item-title') 나무
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile4.uf.tistory.com/image/2243CD4B50F8219E3725FA')
                div(class='item-content')
                    span(class='item-title') 갓덴스시
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile24.uf.tistory.com/image/1329374C4E3A28E30E0DF4')
                div(class='item-content')
                    span(class='item-title') VERITAS
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='https://s-media-cache-ak0.pinimg.com/236x/f0/d7/6f/f0d76f1dc77716348f429fab93eab716.jpg')
                div(class='item-content')
                    span(class='item-title') GAZA
            figure(class='place-item' data-toggle='modal' data-target='#detail-item')
                div(class='hover-mask')
                img(src='http://cfile2.uf.tistory.com/image/2414FC4752DFBF1B0857DF')
                div(class='item-content')
                    span(class='item-title') 어바웃샤브