figure(class='place-item')
    - var isUrl = place.name.substring(0,4) == 'http'
    if (isUrl)
        img(class='item-image' src='data:image/png;base64,#{place.image}')
    else
        img(class='item-image' src='/image/no_image.jpg')
    div(class='item-content')
        span(class='item-title') #{place.name}